{% extends 'main.html.twig' %}

{% block title %}{{ trailers | length }} iTunes Movie trailers{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5 mb-4">{{ trailers | length }} iTunes Movie trailers</h1>
        <h3>Result for: {{ dateTime }} from {{ action }}</h3>
        <table class="table table-bordered">
            {% for trailer in trailers %}
                <tr>
{#                    Я тут не смог использовать path по причине того что path функция не определена. Для того чтобы много времени не терять я захордкожу#}
                    <td><a href="{{ baseUrl }}trailer/{{ trailer.id }}">{{ trailer.title }}</a></td>
                    <td><img src="{{ trailer.image }}" alt=""></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
