{% extends 'main.html.twig' %}

{% block title %}{{ trailer.title }}{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ baseUrl }}">Назад</a>
        <table class="table table-bordered">
            <tr>
                <td>{{ trailer.title }}</td>
                <td>{{ trailer.description }}</td>
                <td><img src="{{ trailer.image }}" alt=""></td>
            </tr>
        </table>
    </div>
{% endblock %}
